/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

li[id="cat"] {
  color: rgb(0, 128, 128);
}

li[class^="p"] {
  color: rgb(0, 128, 0);
}

li[class*="do"] {
  color: rgb(65, 105, 225);
}

li[class$="g"] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: rgb(0, 128, 0);
}

.first ~ li {
  color: var(--violet);
}

.second + li {
  color: var(--royalblue);
}
